.container{
  border: 2px solid black;
  display: flex;
  /* height: 60vh;
  width: 50vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 45px;
  padding: 1em;
  background-color: aqua;
  border-radius: 5px;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4%;
  
}
h1{

}

.ip{
  color: black;
  margin-bottom: 15px;
  


}
#addip{
  border: 1px solid black;
  display: inline;
  background-color: antiquewhite;
  display: inline-flex;
  width: 250px;
  height: 25px;
  border-radius: 4px;
}

li{
  border: 1px solid black;
  display: inline;
  background-color: antiquewhite;
  display: inline-flex;
  width: 250px;
  height: auto;
  border-radius: 4px;
 
 
  
}
.btn{
  display: inline-flex;
  cursor: pointer;
  width: 70px;
  height: 25px;
  align-items: center;
  justify-content: center;

}
ul{
  display: flex;
  column-gap: 3px;
flex-direction: column;
gap: 5px;
margin-top: 50px;
}